/*
 * Author: Jerry Li
 * Last updated: May 12, 2026 
 */

/* fonts */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

/* general */

#search,
#hits {
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Inter', 'Source Han Sans';
}

#search input {
    border-radius: 8px;
}

#search form {
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    #search .ais-SearchBox-input {
        background-color: #222;
        border-color: #333;
        color: #eee;
        box-shadow: none;
        transition: all 0.2s;
    }

    #search .ais-SearchBox-input:focus {
        border-color: #3c4fe0;
    }

    #hits .ais-Hits-item {
        background-color: #222;
        border-color: #333;
        color: #eee;
        box-shadow: 0 0 0 1px rgba(35, 38, 59, .05), 0 1px 3px 0 rgba(35, 38, 59, .15);
    }
}