/*
 * Author: Jerry Li
 */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

body {
    margin: 0;
}

#drawer {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 3;
}

#logo-wrapper {
    padding: 6px;
    border-radius: 6px;
    margin-left: 6px;
    margin-top: 6px;
    width: fit-content;
    border: solid 1px transparent;
    transition: all 0.3s;
    background-color: hsl(0, 96%, 98%);
}

#logo-wrapper:hover,
#alert:hover {
    border: solid 1px hsl(0, 96%, 18%);
}

#logo {
    aspect-ratio: 150/67;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo svg {
    fill: #590202;
}

#container {
    width: 260px;
    height: calc(100% - 42px);
    position: relative;
    top: 10px;
    left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    z-index: -1;
    border-radius: 14px;
    background-color: #fdfdfd;
    box-shadow: 0px 4px 4px hsla(0deg 0% 0% / 0.025),
        0px 8px 8px hsla(0deg 0% 0% / 0.025),
        0px 16px 16px hsla(0deg 0% 0% / 0.025),
        0px 32px 32px hsla(0deg 0% 0% / 0.025);
    transition: all 0.3s cubic-bezier(0.5, 0.8, 0, 1.03);
    transform: translateX(-300px);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border: solid 1px white;
}

#container a {
    text-decoration: none;
    color: unset;
}

#container::-webkit-scrollbar {
    width: 0;
}

.show#container {
    transform: translateX(0px);
}

.displace#logo-wrapper {
    width: 0;
    margin-top: 0px;
    margin-left: 0px;
    background-color: transparent;
    height: 0;
    padding: 0;
    border: none;
}

.displace#logo-wrapper svg {
    fill: transparent;
}

.drawer-title {
    width: calc(100% - 24px);
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: all 0.2s;
}

.drawer-title .material-symbols-outlined {
    font-size: 22px;
    margin-right: 10px;
}

.drawer-title:hover {
    background-color: #eee;
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.nolink:hover {
    background-color: transparent;
}

.simple-list-list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    list-style: none;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 44px;
    padding-right: 12px;
    width: calc(100% - 56px);
}

.simple-list-list a,
#simple a {
    text-decoration: none;
    color: unset;
}

.simple-list-list a li {
    display: grid;
    font-size: 14px;
    margin-bottom: 8px;
    grid-template-columns: 1fr 1.5em;
}

.simple-list-list .file-type {
    font-weight: normal;
    display: none;
}

.simple-list-list a li .material-symbols-outlined {
    font-size: 18px;
}

#blinds-top.show {
    height: 40px;
    background-image: linear-gradient(#fdfdfd 20%, transparent);
}

#blinds-bottom.show {
    height: 40px;
    background-image: linear-gradient(transparent, #fdfdfd 80%);
}

#blinds-top {
    width: 262px;
    height: 0px;
    position: absolute;
    background: transparent;
    transition: all 0.2s;
    transition-delay: 0.4s;
    top: 10px;
    left: 10px;
    border-radius: 14px;
}

#blinds-bottom {
    width: 262px;
    height: 0px;
    position: absolute;
    background: transparent;
    transition: all 0.2s;
    transition-delay: 0.4s;
    bottom: 10px;
    left: 10px;
    border-radius: 14px;
}

#alert {
    width: 30px;
    height: 30px;
    background-color: hsl(0, 96%, 98%);
    color: #590202;
    border-radius: 6px;
    position: fixed;
    top: 6px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
    transition: all 0.2s;
}

@media (prefers-color-scheme: dark) {

    #logo-wrapper,
    #alert {
        background-color: #590202;
    }

    #logo-wrapper svg {
        fill: hsl(0, 96%, 98%);
    }

    #alert {
        color: hsl(0, 96%, 98%);
    }

    #container {
        background-color: #232323;
        border-color: #333;
    }

    #blinds-top.show {
        background-image: linear-gradient(#232323 20%, transparent);
    }

    #blinds-bottom.show {
        background-image: linear-gradient(transparent, #232323 80%);
    }

    .drawer-title:hover {
        background-color: #333;
    }
}

/* general styles */

.text-n {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* index.html */

#simple #link-wrapper {
    display: none;
}

#simple-wrapper.expanded #link-wrapper {
    display: block;
}

#link-wrapper a:nth-child(1) {
    font-weight: bold;
}

#disc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#disc-grid {
    width: 80%;
    padding: 40px;
    padding-bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 140px 1fr;
    border-bottom: solid 1px #eee;
}

#welcome,
.subtitle {
    font-size: 22px;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
}

.subtitle {
    height: 60px;
}

.disc-block {
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.disc-block:last-child {
    border-bottom-color: transparent;
}

.disc-block ul {
    margin: 0;
}

.self-portrait {
    width: 120px;
    height: 160px;
    position: fixed;
    background-image: url(../images/IMG_2152.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media (max-width: 768px) {
    #disc-grid {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .self-portrait {
        width: 240px;
        height: 320px;
        position: unset;
        margin-left: 20px;
    }

    #placeholder {
        display: none;
    }

    .disc-block {
        border-left: none;
    }
}

.emphasis-before-lists {
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#copyright-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

#copyright-info a {
    text-decoration: none;
    color: unset;
}

#footer-links {
    margin-top: 0;
}

@media (prefers-color-scheme: dark) {
    #disc-grid {
        border-bottom-color: #333;
    }

    .disc-block {
        border-left-color: #333;
        border-bottom-color: #333;
    }
}

#flyover {
    display: flex;
    justify-content: center;
}

#flyover a {
    text-decoration: none;
}

#flyover-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flyover-content {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.flyover-content:hover {
    color: white !important;
}

#fly-1 {
    background-color: rgba(135, 207, 235, 0.25);
    color: hsl(197, 71%, 43%);
}

#fly-2 {
    background-color: rgba(239, 106, 42, 0.25);
    color: rgb(239, 106, 42);
}

.flyover-content .material-symbols-outlined {
    font-size: 20px;
    transition: all 0.2s;
}

#fly-1:hover {
    background-color: hsl(197, 71%, 43%);
}

#fly-2:hover {
    background-color: rgb(239, 106, 42);
}

.flyover-content:hover .material-symbols-outlined {
    transform: translateX(3px);
}