/*
 * Author: Jerry Li
 */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

body {
    margin: 0;
}

#handle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#handle-backdrop {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-image: url(https://media.jerryly.cn/rect4581.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 0.2s;
    position: absolute;
}

#handle-backdrop:hover {
    opacity: 0.5;
}

#logo {
    aspect-ratio: 150/67;
    height: 30px;
    margin-top: 10px;
    background-image: url(https://media.jerryly.cn/home-button-light.svg);
    z-index: 1;
}

@media (prefers-color-scheme: dark) {
    #handle-backdrop {
        background-image: url(https://media.jerryly.cn/rect4581-dark.png);
    }

    #logo {
        background-image: url(https://media.jerryly.cn/home-button-dark.svg);
    }
}

/* general styles */

.text-n {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* index.html */

#simple #link-wrapper {
    display: none;
}

#simple-wrapper.expanded #link-wrapper {
    display: block;
}

#link-wrapper a:nth-child(1) {
    font-weight: bold;
}

#disc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#disc-grid {
    width: 80%;
    padding: 40px;
    padding-bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 140px 1fr;
    border-bottom: solid 1px #eee;
}

#welcome,
.subtitle {
    font-size: 22px;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
}

.subtitle {
    height: 60px;
}

.disc-block {
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.disc-block:last-child {
    border-bottom-color: transparent;
}

.disc-block ul {
    margin: 0;
}

.self-portrait {
    width: 120px;
    height: 160px;
    position: fixed;
    background-image: url(../images/IMG_2152.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media (max-width: 768px) {
    #disc-grid {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .self-portrait {
        width: 240px;
        height: 320px;
        position: unset;
        margin-left: 20px;
    }

    #placeholder {
        display: none;
    }

    .disc-block {
        border-left: none;
    }
}

.emphasis-before-lists {
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#copyright-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

#copyright-info a {
    text-decoration: none;
    color: unset;
}

#footer-links {
    margin-top: 0;
}

@media (prefers-color-scheme: dark) {
    #disc-grid {
        border-bottom-color: #333;
    }

    .disc-block {
        border-left-color: #333;
        border-bottom-color: #333;
    }
}

#flyover {
    display: flex;
    justify-content: center;
}

#flyover a {
    text-decoration: none;
}

#flyover-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flyover-content {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.flyover-content:hover {
    color: white !important;
}

#fly-1 {
    background-color: rgba(135, 207, 235, 0.25);
    color: hsl(197, 71%, 43%);
}

#fly-2 {
    background-color: rgba(239, 106, 42, 0.25);
    color: rgb(239, 106, 42);
}

.flyover-content .material-symbols-outlined {
    font-size: 20px;
    transition: all 0.2s;
}

#fly-1:hover {
    background-color: hsl(197, 71%, 43%);
}

#fly-2:hover {
    background-color: rgb(239, 106, 42);
}

.flyover-content:hover .material-symbols-outlined {
    transform: translateX(3px);
}