/* 
    Author: Jerry Li
    Date: 2025-03-22
    Version: 0.1
*/

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueLight.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueBold.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueHeavy.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 900;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueBlack.otf);
}

#logo-wrapper-link {
    width: fit-content;
    position: fixed;
    left: 5%;
    top: 20px;
    z-index: 1;
}

#logo-wrapper {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.2s;
    border: solid 1px transparent;
    background-color: #EEF1F4;
}

#logo-wrapper:hover {
    border-color: #6C91D9;
}

#logo {
    height: 30px;
    aspect-ratio: 223/100;
    background-image: url(../images/home-button-6C91D9.svg);
}

#content-unit {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    overflow: hidden;
}

#inx-heading {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #6C91D9;
}

#text-n {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-align: justify;
}

#index-intro {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/index-intro.webp);
    animation: fadeIn 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#intro-heading {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: white;
    margin-left: calc(5% + 10px);
}

.index-button {
    text-decoration: none;
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(99, 191, 253);
    margin-left: calc(5% + 10px);
    border: solid 2px white;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
}

.index-button:hover svg {
    fill: white;
}

.index-button:hover {
    background-color: transparent;
    color: white;
    border: solid 2px white;
}

.index-button svg {
    height: 0.8em;
    fill: rgb(99, 191, 253);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#content-unit {
    margin-top: calc(100vh + 20px);
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

#inx-first-line {
    display: flex;
    align-items: center;
}

#inx-image {
    border-radius: 10px;
    aspect-ratio: 3/4;
    background-image: url(../images/IMG_2748.webp);
    background-size: cover;
    margin-bottom: 15px;
}

#inx-text-and-image-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 15px;
    transition: all 0.2s;
}

#inx-text-and-image-wrapper #text-n {
    margin-top: 4px;
    margin-bottom: 4px;
}

#inx-light {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #EEF1F4;
}

#inx-tag {
    border-radius: 20px;
    border: #6C91D9 solid 1px;
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #6C91D9;
    margin-left: 5px;
    font-size: 12px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2px;
}

.inx-text {
    border: solid 1px #B0C7D9;
    border-radius: 10px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.inx-text::-webkit-scrollbar {
    width: 0px;
}

#inx-text-img-1 {
    height: 100px;
    background-image: url(../images/Snipaste_2025-03-21_15-31-17.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.inx-text-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
}

.inx-text-wrapper a,
#inx-side-wrapper a,
#inx-text-wrapper a {
    text-decoration: none;
    color: unset;
    height: 37.5px;
}

.inx-text-wrapper a>.inx-text:hover,
#inx-side-wrapper a>.inx-text:hover,
#inx-text-wrapper a:hover .inx-gallery-block {
    border-color: #6C91D9 !important;
    color: #6C91D9 !important;
}

.inx-text-wrapper a>.inx-text:hover svg,
#inx-side-wrapper a>.inx-text:hover svg,
#inx-text-wrapper a:hover svg {
    fill: #6C91D9;
}

#inx-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#inx-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

p svg {
    height: 0.8em;
}

.inx-text #text-n b {
    color: #6C91D9;
}

.inx-text-wrapper> :first-child,
#inx-text-wrapper> :first-child {
    border: none;
}

#inx-side-wrapper .inx-text {
    border: none;
    border-bottom: solid 1px #B0C7D9;
    border-radius: 0;
    margin-bottom: 0
}

#inx-side-wrapper #inx-text-wrapper {
    margin-bottom: 15px;
}

#i-courses> :last-child>.inx-text {
    border-bottom: none;
}

#i-courses {
    margin-top: 15px;
    border: solid 1px #B0C7D9;
    border-radius: 15px;
}

.inx-text-wrapper,
#inx-6,
#inx-4,
.inx-text,
.inx-text-wrapper> :last-child {
    transition: all 0.2s;
}

@media (max-width: 430px) {
    #inx-text-and-image-wrapper {
        grid-template-rows: 2fr 4fr;
        grid-template-columns: 1fr;
    }

    .inx-text-wrapper,
    #inx-6,
    #inx-4 {
        grid-template-columns: 1fr;
    }

    .inx-text-wrapper a,
    #inx-side-wrapper a {
        height: unset;
    }

    .inx-text {
        border: none;
        border-bottom: solid 1px #eee;
        border-radius: 0;
        margin-bottom: 0
    }

    .inx-text-wrapper> :last-child {
        margin-bottom: 10px;
    }
}

#inx-subtitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inx-subtitle-smaller {
    font-size: 18px;
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {

    .inx-text,
    #i-courses,
    .inx-gallery-block {
        border-color: #55758E !important;
    }

    #inx-side-wrapper .inx-text {
        border-bottom-color: #55758E;
    }

    .inx-text-wrapper .inx-text svg,
    #inx-side-wrapper .inx-text svg,
    #inx-text-wrapper svg,
    p svg {
        fill: white;
    }

    #logo-wrapper,
    #inx-light {
        background-color: #012030;
    }

    .gl-kf span,
    .gl-tip span {
        color: #ffffffa5 !important;
    }

    .gl-tip svg {
        fill: #ffffffa5 !important;
    }
}

#inx-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.inx-gallery-block {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    border: solid 1px #B0C7D9;
    padding: 10px;
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inx-text-wrapper {
    margin-bottom: 30px;
}

.inx-gallery-block svg {
    height: 0.8em !important;
    margin-right: 10px;
}

#heading {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #6C91D9;
}

.gl-tl {
    border-left: solid 1px #B0C7D9;
}

.gl-kf {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border-left: solid 4px #B0C7D9;
    padding-left: 26px;
}

.gl-tl #text-n {
    padding-left: 30px;
}

.gl-kf span,
.gl-tip span {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #000000a5;
}

.gl-tip {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

.gl-tip svg {
    fill: #000000a5;
}

.gl-imgs {
    display: flex;
}

.gl-imgs:focus-within .gl-img {
    width: 350px;
    height: 350px;
}

.gl-img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-right: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    scrollbar-width: none;
}

.gl-img::-webkit-scrollbar {
    width: 0;
}

#gl-1 {
    background-image: url(../images/gl-1.webp);
    margin-left: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#gl-2 {
    background-image: url(../images/gl-2.webp);
    border-radius: 5px;
}

#gl-3 {
    background-image: url(../images/gl-3.webp);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#gl-4 {
    background-image: url(../images/gl-4.PNG);
    margin-left: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    aspect-ratio: 16/9;
    width: unset;
}

#gl-5 {
    background-image: url(../images/gl-5.PNG);
    border-radius: 5px;
    aspect-ratio: 16/9;
    width: unset;
}

#gl-6 {
    background-image: url(../images/gl-6.PNG);
    border-radius: 5px;
    aspect-ratio: 16/9;
    width: unset;
}

#gl-7 {
    background-image: url(../images/gl-7.PNG);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    aspect-ratio: 16/9;
    width: unset;
}

#gl-8 {
    background-image: url(../images/gl-8.png);
    margin-left: 30px;
    aspect-ratio: 16/9;
    width: unset;
}

#gl-9 {
    background-image: url(../images/gl-9.jpg);
    margin-left: 30px;
    aspect-ratio: 3/4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: unset;
}

#gl-10 {
    background-image: url(../images/gl-10.jpg);
    aspect-ratio: 4/3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: unset;
}

#gl-11 {
    background-image: url(../images/gl-11.png);
    margin-left: 30px;
    aspect-ratio: 16/9;
    width: unset;
}

#gl-12 {
    background-image: url(../images/gl-12.png);
    margin-left: 30px;
    aspect-ratio: 1.19/1;
    width: unset;
}

#gl-13 {
    background-image: url(../images/gl-13.png);
    margin-left: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#gl-14 {
    background-image: url(../images/gl-14.webp);
    border-radius: 5px;
}

#gl-15 {
    background-image: url(../images/gl-15.png);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#gl-16 {
    background-image: url(../images/gl-16.PNG);
    margin-left: 30px;
    aspect-ratio: 16/9;
    width: unset;
}

#gl-17 {
    background-image: url(../images/gl-17.PNG);
    margin-left: 30px;
    aspect-ratio: 16/9;
    width: unset;
}

.inx-special-link {
    background-image: linear-gradient(270deg, #DBF227, #005C53);
    border-radius: 15px;
}

.inx-special-link #i-courses {
    margin: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.inx-special-link #i-courses .inx-text {
    background-color: #EEF1F4;
    border-radius: 14px;
}

.inx-special-link #i-courses .inx-text #text-n {
    background-image: linear-gradient(270deg, #DBF227, #005C53);
    color: transparent;
    background-clip: text;
}

.inx-special-link #i-courses .inx-text:hover {
    background-color: transparent;
}

.inx-special-link #i-courses .inx-text:hover #text-n {
    color: white;
}

.inx-special-link #i-courses .inx-text #text-n svg {
    fill: #005C53;
}

.inx-special-link #i-courses .inx-text:hover #text-n svg {
    fill: white;
}