/*
 * Author: Jerry Li
 */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

body {
    margin: 0;
}

#board {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

#board.activate {
    overflow: hidden;
}

#handle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

#handle.exited {
    border-bottom: solid 1px #eee;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.5em);
}

#handle-backdrop {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-image: url(https://media.jerryly.cn/rect4581.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 0.2s;
    position: absolute;
    z-index: -1;
}

#handle.exited #handle-backdrop {
    opacity: 0;
}

#handle:hover #handle-backdrop {
    opacity: 0.5;
}

#handle.exited:hover #handle-backdrop {
    opacity: 0;
}

#handle-content {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#handle.exited #handle-content {
    justify-content: space-between;
    z-index: 1;
}

#handle.exited #handle-separator {
    display: none;
}

#handle-logo-wrapper {
    padding: 6px;
    border-radius: 10px;
    transition: all 0.2s;
}

#handle-logo {
    aspect-ratio: 150/67;
    height: 30px;
    background-image: url(https://media.jerryly.cn/home-button-light.svg);
    background-repeat: no-repeat;
}

#handle-separator {
    width: 1px;
    height: 20px;
    background-color: #333;
    margin-left: 5px;
    margin-right: 5px;
}

#handle-direct {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#handle-direct a {
    text-decoration: none;
    color: unset;
    border-radius: 10px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#handle-direct a:hover,
#handle-logo-wrapper:hover,
#basement-content-layer ul li:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.025),
        0 8px 8px hsl(0deg 0% 0% / 0.025),
        0 16px 16px hsl(0deg 0% 0% / 0.025),
        0 32px 32px hsl(0deg 0% 0% / 0.025);
}

#handle-direct a .material-symbols-outlined {
    font-weight: 300;
}

.handle-direct-label {
    margin-left: 0px;
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 0.8, 0, 1);
}

#handle-direct a:hover .handle-direct-label {
    margin-left: 6px;
    width: fit-content;
    max-width: 4em;
}

#basement {
    width: 100%;
    height: 0;
    padding: 0;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.5em);
    transition: all 0.4s cubic-bezier(0, 1, 0, 1.03);
}

#basement-backdrop {
    overflow: hidden;
}

#basement-content-layer {
    width: calc(100% - 40px);
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.2s;
    opacity: 0;
}

#basement.entered #basement-content-layer {
    height: fit-content;
    max-height: 100vh;
    opacity: 1;
    padding: 20px;
}

#basement-input {
    border: none;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.025),
        0 8px 8px hsl(0deg 0% 0% / 0.025),
        0 16px 16px hsl(0deg 0% 0% / 0.025),
        0 32px 32px hsl(0deg 0% 0% / 0.025);
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    width: calc(100% - 28px);
    justify-content: space-between;
    align-items: center;
}

#basement-input section {
    width: calc(100% - 68px);
    min-width: 50%;
}

#basement-input input,
#basement-input textarea {
    border: none;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    resize: none;
    width: 100%;
}

#basement-input textarea {
    height: 1em;
    font-weight: normal;
}

#basement-button {
    border: none;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#basement-backdrop-pause {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: normal;
    background-color: transparent;
    border: none;
}

.basement-circle {
    width: 800px;
    height: 800px;
    border-radius: 600px;
    filter: blur(100px);
    background-image: radial-gradient(circle at top, #fff 20%, #00d3d8, #7dbfff);
    animation: bubble 5s infinite alternate;
    position: absolute;
    z-index: -2;
    overflow: hidden;
    transition: all 0.2s;
    display: none;
}

.basement-circle.move {
    display: block;
}

.basement-label {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 8px;
}

#basement-content-layer hr {
    background-color: transparent;
    border: none;
    margin-bottom: 300px;
}

@keyframes bubble {
    0% {
        top: -1000px;
        transform: rotate(0deg);
    }

    100% {
        top: -100px;
        transform: rotate(340deg);
    }
}

.simple-list-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    width: calc(100% - 40px);
    height: 0;
    max-height: 0;
    padding-left: 0;
    z-index: 1;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#basement.entered .simple-list-list {
    height: fit-content;
    max-height: 100vh;
}

.simple-list-list a,
#simple a {
    text-decoration: none;
    color: unset;
    width: fit-content;
}

.simple-list-list a li {
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    transition: all 0.2s;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
}

.simple-list-list svg {
    width: 1.3em;
    height: 1.3em;
}

.simple-list-list .file-type {
    font-weight: normal;
    display: none;
}

.simple-list-list a li .material-symbols-outlined {
    font-size: 18px;
}

@media (prefers-color-scheme: dark) {
    #handle-backdrop {
        background-image: url(https://media.jerryly.cn/rect4581-dark.png);
    }

    #handle-logo {
        background-image: url(https://media.jerryly.cn/home-button-dark.svg);
    }

    #handle-separator {
        background-color: #eee;
    }

    #handle-direct a:hover,
    #handle-logo-wrapper:hover,
    #basement-content-layer ul li:hover {
        background-color: #333;
    }

    #handle.exited {
        border-bottom-color: #333;
        background-color: rgba(12, 12, 12, 0.7);
    }

    #basement {
        background-color: rgba(12, 12, 12, 0.7);
    }

    .basement-circle {
        background-image: radial-gradient(circle at top, #000000 20%, hsl(181, 100%, 32%), hsl(210, 100%, 65%));
    }

    #basement-input {
        background-color: rgb(59, 59, 59);
    }

    #basement-input #basement-button {
        background-color: #fff;
        color: black;
    }

    .simple-list-list svg {
        fill: white;
    }
}

@media (max-width: 768px) {
    #basement-content-layer {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .simple-list-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px) {
    .simple-list-list {
        grid-template-columns: 1fr;
    }
}

/* general styles */

.text-n {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* index.html */

#simple #link-wrapper {
    display: none;
}

#simple-wrapper.expanded #link-wrapper {
    display: block;
}

#link-wrapper a:nth-child(1) {
    font-weight: bold;
}

#disc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#disc-grid {
    width: 80%;
    padding: 40px;
    padding-bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 140px 1fr;
    border-bottom: solid 1px #eee;
}

#welcome,
.subtitle {
    font-size: 22px;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
}

.subtitle {
    height: 60px;
}

.disc-block {
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.disc-block:last-child {
    border-bottom-color: transparent;
}

.disc-block ul {
    margin: 0;
}

.self-portrait {
    width: 120px;
    height: 160px;
    position: fixed;
    background-image: url(../images/IMG_2152.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media (max-width: 768px) {
    #disc-grid {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .self-portrait {
        width: 240px;
        height: 320px;
        position: unset;
        margin-left: 20px;
    }

    #placeholder {
        display: none;
    }

    .disc-block {
        border-left: none;
    }
}

.emphasis-before-lists {
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#copyright-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

#copyright-info a {
    text-decoration: none;
    color: unset;
}

#footer-links {
    margin-top: 0;
}

@media (prefers-color-scheme: dark) {
    #disc-grid {
        border-bottom-color: #333;
    }

    .disc-block {
        border-left-color: #333;
        border-bottom-color: #333;
    }
}

#flyover {
    display: flex;
    justify-content: center;
}

#flyover a {
    text-decoration: none;
}

#flyover-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flyover-content {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.flyover-content:hover {
    color: white !important;
}

#fly-1 {
    background-color: rgba(135, 207, 235, 0.25);
    color: hsl(197, 71%, 43%);
}

#fly-2 {
    background-color: rgba(239, 106, 42, 0.25);
    color: rgb(239, 106, 42);
}

.flyover-content .material-symbols-outlined {
    font-size: 20px;
    transition: all 0.2s;
}

#fly-1:hover {
    background-color: hsl(197, 71%, 43%);
}

#fly-2:hover {
    background-color: rgb(239, 106, 42);
}

.flyover-content:hover .material-symbols-outlined {
    transform: translateX(3px);
}