{% extends "page.html" %}

{% block content %}

<div id="content-unit">
    <div id="wwdc-sign">
        <div class="text-n">WWDC25!!!</div>
        <hr>
        <div class="text-n">
            <span id="wwdc-countdown">
                <span class="hour"></span>
                <span class="minute"></span>
                <span class="second"></span>
            </span>
        </div>
    </div>
</div>

<script>
    function updateRemainingTime() {
        const now = new Date();
        const hours = now.getHours;
        const minutes = now.getMinutes;
        const seconds = now.getSeconds;
        const target = new Date();
        target.setMonth(5); // June (0-based)
        target.setDate(10);
        target.setHours(1, 0, 0, 0);

        const diff = target - now;
        let h = 0, m = 0, s = 0;
        if (diff > 0) {
            h = Math.floor(diff / (1000 * 60 * 60));
            m = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
            s = Math.floor((diff % (1000 * 60)) / 1000);
        }
        document.querySelector('#wwdc-countdown .hour').innerText = h.toString().padStart(2, '0') + 'h ';
        document.querySelector('#wwdc-countdown .minute').innerText = m.toString().padStart(2, '0') + 'm ';
        document.querySelector('#wwdc-countdown .second').innerText = s.toString().padStart(2, '0') + 's';
    }
    setInterval(() => {
        updateRemainingTime();
    }, 1000);
</script>

{% endblock %}