<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>so I have this website...</title>
    <script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=alternate_email,arrow_forward,chat,exit_to_app,favorite,gavel,history,home,info,lightbulb,live_tv,open_in_new,person_add,question_mark,science,web_stories" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div id="common-header">
            <div id="compound">
                <div id="logo"></div>
                <div id="c-links">
                    <a href="https://jerryly.top/" id="home-button" class="c-link">
                        <span class="material-symbols-outlined">home</span><span class="c-label">home</span>
                    </a>
                    <a href="https://old.jerryly.top" id="history-button" class="c-link">
                        <span class="material-symbols-outlined">history</span><span class="c-label">legacy site</span>
                    </a>
                    <a href="https://blog.jerryly.top/" id="chat-button" class="c-link">
                        <span class="material-symbols-outlined">chat</span><span class="c-label">blog</span>
                    </a>
                    <a href="https://demo.jerryly.top/" id="web-stories-button" class="c-link">
                        <span class="material-symbols-outlined">web_stories</span><span class="c-label">project
                            demo</span>
                    </a>
                </div>
            </div>
            <div id="details"></div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        if (window.location.href.includes("https://jerryly.top")) {
            document.querySelector("#home-button").classList.add("active");
        } else if (window.location.href.includes("https://old.jerryly.top")) {
            document.querySelector("#history-button").classList.add("active");
        } else if (window.location.href.includes("https://blog.jerryly.top")) {
            document.querySelector("#chat-button").classList.add("active");
        } else if (window.location.href.includes("https://demo.jerryly.top")) {
            document.querySelector("#web-stories-button").classList.add("active");
        }

        $(".c-link").hover(
            function () {
                $("#details").addClass("display");
            },
            function () {
                if (!isClicking) {
                    $("details").removeClass("display");
                }
            }
        )

        let isClicking = false;

        $(".c-link").on("mousedown", function () {
            isClicking = true;
            $("#details").addClass("display");
        })

        $(document).on("mouseup", function () {
            isClicking = false;
            if (!$(".c-link:hover").length) {
                $("#details").removeClass("display");
            }
        })

        $("#history-button").hover(() => {
            $("#details").html(
                `
            <span>
                <b>Legacy site contains the following.</b>
            </span>
            <ul>
                <a href="https://old.jerryly.top/pages/about">
                    <li>
                        about
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/apple">
                    <li>
                        apple
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/christmas">
                    <li>
                        christmas
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/classical_ch">
                    <li>
                        classical_ch
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/classical_ch_sh">
                    <li>
                        classical_ch_sh
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/contact">
                    <li>
                        contact
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/develop">
                    <li>
                        develop
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/flashback">
                    <li>
                        flashback
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/friends">
                    <li>
                        friends
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/gallery">
                    <li>
                        gallery
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/homemade_giftcard">
                    <li>
                        homemade_giftcard
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/music">
                    <li>
                        music
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/noticeboard">
                    <li>
                        noticeboard
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/search">
                    <li>
                        search
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/survey">
                    <li>
                        survey
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
                <a href="https://old.jerryly.top/pages/taylorswift">
                    <li>
                        taylorswift
                        <span class="file-type">html file</span>
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </li>
                </a>
            </ul>
            <span class="file-type">Note that as of Feb 7 2025 the legacy site has stopped updating.</span>
            `
            );
        });

        $("#chat-button").hover(() => {
            $("#details").html(`<span><b>A list of content is available on the site itself.</b></span>`);
        });

        $("#web-stories-button").hover(() => {
            $("#details").html(`<span><b>Contains experimental features and prototypes I'm working on.</b></span>`);
        });

        $("#home-button").hover(() => {
            $("#details").html(`<span><b>The domain of jerryly.top.</b></span>`);
        });
    </script>
</body>

</html>