<!--
    Author: Jerry Li
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="algolia-site-verification" content="9A311D0F6B2164C8" />
    <title>so I have this website...</title>
    <script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <header id="directory">
        <div id="nav-tools">
            <a href="https://jerryly.cn">
                <div id="directory-logo">
                    <div id="logo"></div>
                </div>
            </a>
            <button id="directory-back-button">
                <span class="material-symbols-outlined">chevron_backward</span>
            </button>
            <button id="directory-expand">
                <span class="material-symbols-outlined">add_circle</span>
            </button>
        </div>
        <div id="sitemap">
            <ul class="directory-map">
                <li>
                    <span class="material-symbols-outlined">directions_run</span>live
                    <a href="https://live.jerryly.cn">
                        <span class="directory-slash">/</span>
                    </a>
                </li>
            </ul>
            <ul class="directory-map-secondary special">
                <span>Real-time updates and news.</span>
            </ul>
            <ul class="directory-map">
                <li>
                    <span class="material-symbols-outlined">history</span>old
                    <a href="https://old.jerryly.cn">
                        <span class="directory-slash">/</span>
                    </a>
                </li>
            </ul>
            <ul class="directory-map-secondary">
                <span>Archived pages of the site.</span>
                <a href="https://old.jerryly.cn/pages/about">
                    <li>
                        about
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/apple">
                    <li>
                        apple
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/christmas">
                    <li>
                        christmas
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/classical_ch">
                    <li>
                        classical_ch
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/classical_ch_sh">
                    <li>
                        classical_ch_sh
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/contact">
                    <li>
                        contact
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/develop">
                    <li>
                        develop
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/flashback">
                    <li>
                        flashback
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/friends">
                    <li>
                        friends
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/gallery">
                    <li>
                        gallery
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/homemade_giftcard">
                    <li>
                        homemade_giftcard
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/music">
                    <li>
                        music
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/noticeboard">
                    <li>
                        noticeboard
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/search">
                    <li>
                        search
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/survey">
                    <li>
                        survey
                    </li>
                </a>
                <a href="https://old.jerryly.cn/pages/taylorswift">
                    <li>
                        taylorswift
                    </li>
                </a>
            </ul>
            <ul class="directory-map">
                <li>
                    <span class="material-symbols-outlined">cards_stack</span>blog
                    <a href="https://blog.jerryly.cn">
                        <span class="directory-slash">/</span>
                    </a>
                </li>
            </ul>
            <ul class="directory-map-secondary">
                <span>Blog pages.</span>
                <li><a href="https://blog.jerryly.cn/index.html">Home</a></li>
                <li><a href="https://blog.jerryly.cn/20240604.html">Jun 4 2024</a></li>
                <li><a href="https://blog.jerryly.cn/20241004.html">Oct 4 2024</a></li>
                <li><a href="https://blog.jerryly.cn/20241128.html">Nov 28 2024</a></li>
                <li><a href="https://blog.jerryly.cn/20250103.html">Jan 3 2025</a></li>
                <li><a href="https://blog.jerryly.cn/20241123.html">Jan 4 2025</a></li>
                <li><a href="https://blog.jerryly.cn/20250121.html">CS 2130 Lab 01</a></li>
                <li><a href="https://blog.jerryly.cn/markdown/CS2100-Notes.html">CS 2100 Notes</a></li>
            </ul>
            <ul class="directory-map">
                <li>
                    <span class="material-symbols-outlined">play_arrow</span>demo
                    <a href="https://demo.jerryly.cn">
                        <span class="directory-slash">/</span>
                    </a>
                </li>
            </ul>
            <ul class="directory-map-secondary special">
                <span>Ongoing project tests.</span>
            </ul>
            <br><br><br><br>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        document.getElementById("directory-back-button").addEventListener("click", () => {
            if (window.history.length > 1) {
                window.history.back();
            } else {
                window.location.href = "https://jerryly.cn";
            }
        });
        $("#directory-expand").click(() => {
            $("#directory").toggleClass("active");
            $("#sitemap").toggleClass("expanded");
            $("#directory-expand").toggleClass("rotated");
        });
        if (window.innerWidth < 768) {
            $("#directory").toggleClass("active");
            $("#sitemap").toggleClass("expanded");
            $("#directory-expand").toggleClass("rotated");
        }
    </script>
</body>

</html>